//META{"name":"Princess_Style by Flush Do","description":"Discord Theme im MLP Style (Have Fun) Links: <b><a href='https://www.youtube.com/channel/UCT_IcokbWNtFPgdzPm7vQow' target='_blank'>Youtube</a></b> | <b><a href='https://discord.gg/5exvwaB' target='_blank'>Discord</a></b> | <b><a href='' target='_blank'></a></b></span> <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='' target='_blank'>Flush Do</a></b></span>","author":"<a href='' target='_blank'>Flush Do</a>","version":"1.0"}*//{}
/* "Princess_Style - DiscordTheme v1" by Flush Do */
/* Based on "ClearVision v4" by @Zerthox */

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/FibeHD/PonyCSS/master/css/PonyCSS_v2.0.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
RemoveShadows theme: https://git.io/v6MuU IMPORTANT: Activate on top of a ClearVision theme!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #e67a27;
	--hover-color: #b35d1e;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label{
    background-image: url(https://orig10.deviantart.net/3bfa/f/2013/143/6/3/princess_style_wallpaper_by_doublewbrothers-d66b4io.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
.radio-theme.dark label{
    background-image: url(https://orig10.deviantart.net/3bfa/f/2013/143/6/3/princess_style_wallpaper_by_doublewbrothers-d66b4io.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
