//META{"name":"Vinyl_Theme by Flush Do","description":" Discord Theme im DJ Pon3 Style (Have Fun) <span style='position: absolute; bottom: 0; left: 0;'>Links: <b><a href='https://www.youtube.com/channel/UCT_IcokbWNtFPgdzPm7vQow' target='_blank'>Youtube</a></b> | <b><a href='https://discord.gg/AbcU6WP' target='_blank'>Discord</a></b> | <b><a href='' target='_blank'></a></b></span> <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='' target='_blank'>@Flush Do</a></b></span>","author":"<a href='' target='_blank'>@Flush Do</a>","version":"3.0"}*//{}
/* Theme by Flush Do */

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/FibeHD/PonyCSS/master/css/PonyCSS.min.css);

/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #e67a27;
	--hover-color: #1eb2a9;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label{
    background-image: url(https://media.giphy.com/media/3o6YgavemaraucPiGA/source.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}
.radio-theme.dark label{
    background-image: url(https://media.giphy.com/media/3o6YgavemaraucPiGA/source.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE FRIENDS IMAGE ==========
*/
.guilds-wrapper .guilds .friends-icon:after {
    display:block;
    width:40px;
    height:40px;
    content:'';
    background-image: url(https://cdn.discordapp.com/attachments/275579809768407040/276103873049919488/aaa.gif) !important;
    background-size:110%;
    background-repeat:no-repeat;
    background-position:top center;
}

.create-guild-container {
	background:none !important;
}

.create-guild-container .action {
	background:rgba(0,0,0,0.7);
}

.create-guild-container .create-or-join .actions .or {
	-webkit-filter:opacity(0.9) invert();
	color:#000;
}

.create-guild-container .action.create .action-icon,
.create-guild-container .action.join .action-icon {
	-webkit-filter:invert() hue-rotate(150deg);
}

.create-guild-container h5,
.create-guild-container .action.create .action-header {
	color:#25ACE8;
}

.create-guild-container .action.create .btn-primary {
	background-color:#25ACE8 !important;
}

.create-guild-container .action.create:hover .btn-primary {
	background-color:#1D6586 !important;
}

.create-guild-container .form-actions .btn-default {
	background: rgba(255,255,255,0.1);
    border: 0;
}

.create-guild-container .create-guild .guild-form .region-select {
	background: rgba(255,255,255,0.1);
}

.create-guild-container .create-guild .guild-form .region-select button {
	color:#000;
}

.create-guild-container .create-guild .guild-form .region-select:hover button {
	background-color:#25ACE8;
	border-color:#25ACE8;
	color:#fff;
}

.create-guild-container .create-guild .guild-form .region-select:hover .region-select-inner {
	border-color:#25ACE8;
}

.create-guild-container .create-guild .guild-form .region-select-name {
	color:#fff;
}

.avatar-uploader .avatar-uploader-inner {
	background-color: #25ACE8;
}

.region-select-modal {
	background:rgba(0,0,0,0.8);
}

.region-select-modal .region-select-modal-header {
	color:#25ACE8;
}

.region-select-modal .region-select-modal-option {
	background:rgba(255,255,255,0.1);
	border:2px solid rgba(255,255,255,0.1);
}

.region-select-modal .region-select-modal-option:hover {
	    border-color: #25ACE8;
}

.region-select-modal .region-select-modal-option .region-select-name {
	color:#fff;
}

.guild-header ul {
	background:#000 !important;
    opacity:0 !important;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
    padding-top:100px;
    top:-56px;
}

.guild-header-open ul {
	opacity:1 !important;
}

.guilds-add {
    opacity:0.5;
    font-size:22px !important;
}

.platform-osx .guilds-wrapper {
    padding-top:30px;
}

.guilds-wrapper {
	border-right:1px solid rgba(0,0,0,0.4);
	box-shadow:inset -10px 0px 20px -10px rgba(0,0,0,0.2);
}


.guild-header header span {
	margin-left:-7px;
}

.guild-header header {
	box-shadow:none !important;
	color:#ddd;
}

.guild-channels header h2 {
	padding:0 18px;
}

.guild-channels .channel-text .channel-name,
.guild-channels .channel-voice .channel-name {
	font-size:0.9em;
}

.guild-channels .channel-text a {
	padding:8px 6px 10px 18px;
}

.guild-channels header h2,
.guild-channels .channel a {
	color:#fff;
}

.guilds-wrapper .guilds {
	padding:18px 20px 85px 20px;
}

.guilds-add {
	font-size:30px;
	background:#000;
}

.guilds-wrapper .guilds .friends-online {
	
}

.guilds-wrapper .guilds .guild .guild-inner {
	background:#151515 !important;
}

.guilds-wrapper .guilds .guild.active:first-of-type .guild-inner {
	background:#25ACE8 !important;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
	background:#1D6586 !important;
}

.guilds-wrapper .guilds .guild .guild-inner a,
.guilds-wrapper .guilds .guild,
.guilds-wrapper .guilds .guild .avatar-small {
	width:40px;
	height:40px;
}

.guilds-wrapper .guilds .guild .avatar-small {
	width:40px;
	height:40px;
	background-size: 40px 40px;
}

.guilds-wrapper .guilds .guild .guild-inner {
	line-height:40px;
}

.guilds-wrapper .guilds .friends-icon {
	width:40px;
	height:40px;
	background-size:25px 19px;
}

.guilds-wrapper .guilds .friends-icon {
    background-color: rgba(0,0,0,0.3) !important;
    background-image: none !important;
    padding-top:0px;
}

.guilds-wrapper .guilds .guild.audio .guild-inner:after {
	background-size:12px;
	background-color:rgba(0,0,0,0.8);
}

.guilds-wrapper .guilds .guild:before,
.guilds-wrapper .guilds .guild.unread:before,
.guilds-wrapper .guilds .guild.selected:before {
	left:-26px;
	transition:0.2s ease-in-out all;
}

.guilds-wrapper .guilds .guild.unread:not(.selected):before,
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
	background:#25ACE8;
}

.guilds-wrapper .guilds .guild.active .guild-inner:before {
	background:#fff !important;
}

.guilds-wrapper .guilds .friends-online {
	color: #ccc;
    font-size: 9px;
    margin: 15px 0 15px -7px;
    line-height: 20px;
    width: 55px;
    height: 20px;
    border-radius: 25px;
    overflow: hidden;
    background: rgba(0,0,0,0.3);
}

.guilds-wrapper .guilds-error {
	width:40px;
	height:40px;
	line-height:36px;
}

.guild-channels header h2,
.private-channels header {
	opacity:.6;
}

.guild-channels .channel:hover {
	background:rgba(0,0,0,0.3) !important;
}

.private-channels .search-bar {
	background:rgba(10,13,16,0) !important;
}

.private-channels .search-bar input {
	background:rgba(0,0,0,0.8) !important;
}

.guild-channels .channel.selected,
.private-channels .channel.selected,
.private-channels .search-result.selected,
.private-channels .search-result:hover {
	background:rgba(0,0,0,0.6) !important;
}

.guild-channels ul .channel:not(.selected):hover,
.private-channels .channel:not(.selected):hover {
	background:rgba(0,0,0,0.3) !important;
}

.guild-channels .channel:not(.selected):before,
.guild-channels .channel.selected:before,
.guild-channels .channel.selected:hover:before,
.private-channels .channel:not(.selected):before,
.private-channels .channel.selected:before,
.private-channels .channel.selected:hover:before,
.private-channels .search-result.selected:before,
.private-channels .search-result:hover:before {
	border-left:2px solid #1D6586 !important;
}

.private-channels .channel .icon-friends {
	background-color:#151515 !important;
}

.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
	left:-8px;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
