/* //META{"name":"Vinyl_Theme by Flush Do","description":"Discord Theme with Vinyl Scratch","author":"Flush Do","version":"5"}*//{}
/* Theme by Flush Do */

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/FibeHD/PonyCSS/master/css/PonyCSS.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #3980dd;
	--hover-color: #1caedb;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://media.giphy.com/media/3o6YgavemaraucPiGA/source.gif) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE FRIENDS IMAGE ==========
*/
:root
{
    --homeIcon: url('https://cdn.discordapp.com/attachments/275579809768407040/276103873049919488/aaa.gif');
}
	
#app-mount svg.homeIcon-tEMBK1
{
    color:transparent;
    background: var(--homeIcon) no-repeat center/cover;
    height: 100%;
    width: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
